<h2>Show Message</h2>
<div class="col-md-4 my-2">
  <div class="card">
    <div class="card-body">
      <h3 class="md-1"><%= @message.postingUser %></h3>
      <p><%= @message.message %></p>
    </div>
  </div>
</div>
<span class="btn btn-secondary"><%= link "Back", to: message_path(@conn, :index) %></span>
